<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=""> <img src="../assets/logo/logo.png" alt="Logo de l'entreprise Groupomania"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a routerLink="signup">Inscription</a>
      </li>
      <li routerLinkActive="active"><a routerLink="login">Connexion</a>
      </li>
      <li routerLinkActive="active"><a class="cursor" (click)="onLogout()">Déconnexion</a>
      </li>
      <li routerLinkActive="active"><a routerLink="profil">Mon profil</a>
      </li>
      <li routerLinkActive="active"><a routerLink="timeline">Les news</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="fixed">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 bg-light">
        <div class="row">
          <div class="col-md-6 text-left">
            <a class="link text-dark" routerLink="legal">Mentions Legales</a>
          </div>
          <div class="col-md-6 text-right">
            <a class="link text-dark" href="mailto:contact@groupomania.fr">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
