<nav class="navbar navbar-inverse" *ngIf="isOnline != null || isOnline != undefined">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=""> <img class="header groupomania" src="../assets/logo/logo.png" alt="Logo de l'entreprise Groupomania"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li *ngIf="isAdmin" style="color: white; background-color: #8f1a00; border-radius: 5px;"> Compte Admin Actif
      </li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a *ngIf="isOnline" routerLink="timeline/post">Publier un post</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a *ngIf="!isOnline" routerLink="signup">Inscription</a>
      </li>
      <li routerLinkActive="active"><a *ngIf="!isOnline" routerLink="login">Connexion</a>
      </li>
      <li routerLinkActive="active"><a class="cursor" *ngIf="isOnline" (click)="onLogout()">Déconnexion</a>
      </li>
      <li routerLinkActive="active"><a *ngIf="isOnline" routerLink="profil">Mon profil</a>
      </li>
      <li routerLinkActive="active"><a *ngIf="isOnline" routerLink="timeline">Les news</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="fixed">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-12 bg-light">
        <div class="row">
          <div class="col-6 col-md-6 text-left">
            <a class="link text-dark" routerLink="legal">Mentions Legales</a>
          </div>
          <div class="col-6 col-md-6 text-right">
            <a class="link text-dark" href="mailto:contact@groupomania.fr">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
