/* font */
@font-face {
	font-family: 'nevis';
	src: url(../app/fonts/nevis.ttf);
}

/* Header */
.navbar{
  background-color: #413E36;
  color: white;
}

a{
  text-decoration: none;
  font-size: 1.6em;
  color: #ffffff;
  &:hover{
    text-decoration: none;
    font-size: 1.6em;
    color: #797979;
  }
}

.cursor{
  cursor: pointer;
}

/* body */
body{
  cursor: default;
}

/* Footer */
footer.fixed{
  position: fixed;
  bottom: 0;left: 0;right: 0;
}

img.header.groupomania{
  width: 100%;
}

.container-fluid{
  overflow: hidden;
}


/*****Inferieur a 375px*****/
@media screen and  (max-width: 374px) {
  footer a{
    font-size: 1rem;
  }
}

/*****MOBILE*****/
@media screen and (min-width: 375px) and (max-width: 767px) {
  footer a{
    font-size: 1rem;
  }
}

/*****TABLETTE*****/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer a{
    font-size: 2rem;
  }
}
