<div class="comment" *ngIf="comment !== undefined && comment !== null && comment.postId === posts.id">
  <div class="col-10 col-md-10 offset-1 rounded" style="background-color: grey;">
    <div class="row">
      <div class="col-5 col-md-5 offset-1">
        <h4 class="align-middle" style="color: black;">
          {{ comment.pseudoComment }}
        </h4>
      </div>
      <div class="col-5 col-md-5">
        <p class="text-right align-middle" style="color: black;">
          {{ comment.commentDate | dateInterval }}
        </p>
      </div>
    </div>
  </div>
  <div class="card-body offset-1 col-10 col-md-10 mb-3" style="background-color: #dddddd;">
    <div class="row">
      <div class="col-6 offset-1 mb-3"> {{ comment.comment }} </div>
      <button class="btn btn-default col-1 col-md-1 offset-3" *ngIf="this.authServ.isAdmin || comment.pseudoComment === this.authServ.getUserPseudo()" style="color: black;" (click)="this.onTrashComment()" title="Supprimer le commentaire"><i style="color: red; font-size: 1.4em;" class="fa fa-trash fa-sm"></i></button>
    </div>
  </div>
</div>
