<div class="col-md-11 col-12">
  <div class="keyword col-md-2 col-12 mt-2 rounded" *ngIf="searchFormKeyword || searchFormUser">
    <form [formGroup]="searchFormKeyword">
      <!-- Mot-clé -->
      <p class="rounded mt-2 text-center" style="background-color: grey; color: black;">Recherche par mots-clés :</p>
      <input class="form-control" type="text" id="searchKeywords" formControlName="searchKeywords" placeholder="Mot-clé">
      <br>
      <button class="search btn btn-success mb-2" (click)="onSearchKeyword()" style="color: #000000;">Rechercher</button>
    </form>
    <form [formGroup]="searchFormUser">
      <!-- Par user -->
      <p class="rounded mt-2 text-center" style="background-color: grey; color: black;">Recherche par utilisateur :</p>
      <input class="form-control" type="text" id="searchUser" formControlName="searchUser"  placeholder="Pseudo">
      <br>
      <button class="search btn btn-success mb-2" (click)="onSearchUser()" style="color: #000000;">Rechercher</button>
    </form>

    <button *ngIf="this.posts != undefined && posts.length !== 0" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseSearch()" title="Fermer les resultats">
      <span aria-hidden="true" style="color: red;">&times;</span>
    </button>
    <p *ngIf="this.posts != undefined && posts.length !== 0">Le nombre de post{{ this.funcGlob.getPlural(posts.length) }} trouvé{{ this.funcGlob.getPlural(posts.length) }} est de : {{ posts.length }}</p>
    <p *ngIf="this.posts != undefined && posts.length === 0">Aucun post corresponds à votre recherche </p>
  </div>
</div>

<!-- resultats de recherche -->
<div *ngIf="this.posts && this.posts.length > 0" class="offset-4 resultResearch rounded pb-2 pr-3 pl-3">
  <h3 class="text-center" style="color: #851702;">Résultat de votre recherche</h3>
  <div *ngFor="let post of posts">
    <div (click)= 'scrollOnPost(post.id)' title="Cliquer pour rejoindre le post">
      <div class="card mb-3 col-md-12 pl-0 pr-0" style="background-color: #e0e0e0;">
        <div class="card-header" style="background-color: grey;">
          <div class="row">
            <div class="col-md-6">
              <h4 class="align-middle text-capitalize" style="color: black;">
                {{ post.userPseudoPost }}
              </h4>
            </div>
            <div class="col-md-5">
              <p class="text-right align-middle" style="color: black;">
                {{ post.postDate | dateInterval}}
              </p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center mb-3"> {{ post.title }} </h5>
          <div class="row">
            <div class="col-5 offset-1 mb-3"> {{ post.message }} </div>
            <div class="col-md-4 offset-1">
              <img class="img-fluid mb-3 ml-5" [src]="post.imagePostUrl" *ngIf="post.imagePostUrl" style="max-width: 340px; max-height: 340px; width:90%; height: 90%;" alt="La photo du post">
            </div>
          </div>
          <div class="col-md-5 offset-5" *ngIf="post.mood != '0'">
            <div>Votre humeur : {{ post.mood }} </div>
          </div>
        </div>
        <!-- <div class="row mb-2 offset-1">
          <button class="btn btn-primary" style="color: black;" (click)="this.postsCom.onLike(post.id)" title="Dire que j'aime la publication"><i style="color: white; font-size: 1.4em;" class="fa fa-thumbs-up"></i></button>
          <div class="col-md-2">
            <button class="btn btn-success" style="color: black;" (click)="this.postsCom.onOpenComms(post.id)" title="Afficher les commentaires">Commentaire</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
