img{
  margin-left: 20%;
  max-height: 200px;
  max-width: 200px;
  display:block;
  margin-top:10px;
  border-radius: 30%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  -o-border-radius: 30%;
}

input.image{
  margin-left: 10%;
}

button.image{
  // margin-left: 20%;
  align-items: center;
}

input[type="file"] {
  display: none;
}

#inner{
  margin-left: 30%;
  margin-right: 30%;
}
