@import url('https://fonts.googleapis.com/css?family=Mali:700|Source+Sans+Pro');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


// debug bootstrap

// [class*="col-"], footer{
//     background-color: rgba(243, 77, 77, 0.596);
//     border: 2px solid black;
//     line-height: 40px;
//     border-radius: 6px;
// }


// correction des couleurs des boutons vert pour le WCAG
.btn-success {
  color:#fff !important;
  background-color:#155725 !important;
  border-color:#155725 !important;
}

.btn-success.disabled, .btn-success:disabled {
  color:#fff !important;
  background-color:#155725 !important;
  border-color:#155725 !important;
}
