<div *ngFor="let post of posts">
  <div class="card mt-5" style="background-color: #e0e0e0;">
    <div class="card-header" style="background-color: grey;">
      <div class="row">
        <div class="col-md-6">
          <h4 class="align-middle">
            {{ post.userPseudoPost }}
          </h4>
        </div>
        <div class="col-md-6">
          <p class="text-right align-middle">
            {{ post.postDate }}
          </p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center mb-3"> {{ post.title }} </h5>
      <div class="row">
        <div class="col-5 offset-1 mb-3"> {{ post.message }} </div>
        <div class="col-md-4 offset-1">
          <img class="img-fluid mb-3 ml-5" [src]="post.imagePostUrl" *ngIf="post.imagePostUrl" style="max-width: 340px; max-height: 340px;" alt="La photo du post">
        </div>
      </div>
      <div class="col-md-5 offset-5" *ngIf="post.mood != '0'">
        <div>Votre humeur : {{ post.mood }} </div>
      </div>
    </div>
    <div class="row mb-2 offset-1">
      <button class="btn btn-primary" (click)="onLike()"><i style="color: white; font-size: 1.4em;"
          class="fa fa-thumbs-up"></i></button>
      <div class="col-md-2">
        <button class="btn btn-success" (click)="onOpenComms()">commentaire</button>
      </div>
    </div>
  </div>
</div>

<!-- commentaires -->
<div class="modal-content" *ngIf="openComms">
  <div class="modal-header">
    <h5 class="modal-title">Commentaires</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseComms()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Modal body text goes here.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Nouveau commentaire</button>
  </div>
</div>
