/* Main index */
h1.index{
  font-family: 'nevis';
  color: #FD2D01;
  font-size: 6.8rem;
  text-align: center;
  text-shadow: 1px 1px 2px #605E5A, 0 0 1em #605E5A, 0 0 0.2em #605E5A;
}



/*****Inferieur a 375px*****/
@media screen and  (max-width: 374px) {
  h1.index{
    font-size: 2.5rem;
  }
}

/*****MOBILE*****/
@media screen and (min-width: 375px) and (max-width: 767px) {
  h1.index{
    font-size: 3.5rem;
  }
}

/*****TABLETTE*****/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1.index{
    font-size: 4rem;
  }
}
