<form [formGroup]="commentForm">
  <div *ngIf="commentForm" class="col-md-10 offset-1 rounded" style="background-color: grey;">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="align-middle" style="color: white;">
          <p>Votre nouveau commentaire {{ comment.pseudoComment }} </p>
        </h4>
      </div>
    </div>
  </div>
  <div class="card-body offset-1 col-md-10 mb-3" style="background-color: #dddddd;">
    <div class="row">
      <div class="col-8 offset-2 mb-3">
        <textarea class="form-control" id="messageComment" rows="3"  formControlName="messageComment" placeholder="Votre commentaire ICI" minlength="5"></textarea>
      </div>
    </div>
    <div class="col-md-2 offset-2">
      <button class="btn btn-success" style="color: black;" [disabled]="commentForm.invalid" (click)="this.onValidateComment()" title="Valider le commentaire (5 caracteres mini)">Valider</button>
    </div>
  </div>
</form>
